@{
    ViewBag.Title = "Contact Synergo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.NewVariable</h4>

<address>
    Palo Alto<br />
    California United State of America, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">synergo_support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">synergo_marketing@example.com</a>
</address>